@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(348, 50%, 8%);
    --background: hsl(350, 60%, 98%);
    --primary: hsl(351, 50%, 51%);
    --secondary: hsl(350, 63%, 41%);
    --accent: hsl(350, 63%, 59%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(349, 51%, 92%);
    --background: hsl(350, 60%, 2%);
    --primary: hsl(351, 50%, 49%);
    --secondary: hsl(350, 63%, 59%);
    --accent: hsl(350, 63%, 41%);
  }
}
